<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="width=device-with, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    <script>
    var map, pointarray, heatmap;
	var set_gradient = [
'rgba(0, 255, 255, 0)',
'rgba(0, 255, 255, 1)',
'rgba(0, 191, 255, 1)',
'rgba(0, 127, 255, 1)',
'rgba(0, 63, 255, 1)',
'rgba(0, 0, 255, 1)',
'rgba(0, 0, 223, 1)',
'rgba(0, 0, 191, 1)',
'rgba(0, 0, 159, 1)',
'rgba(0, 0, 127, 1)',
'rgba(63, 0, 91, 1)',
'rgba(127, 0, 63, 1)',
'rgba(191, 0, 31, 1)',
'rgba(255, 0, 0, 1)'

	];
{% load staticfiles %}
var image = "{% static "mapping/twitter-bird-16x16.png" %}";
var show_markers = false;
var markers = [];
var tweets = [

{% for latlng in latlngs %}
	new google.maps.LatLng({{latlng.0}}, {{latlng.1}}),
{% endfor %}
  // just insert all the coordinates here ~~~~~~~~~~~~~~~
];
//generate markers array for markers map
for (var j = 0; j < tweets.length; j++) {
  var marker = new google.maps.Marker({
      position: tweets[j],
      map: map,
      icon: image
  });
  markers.push(marker);
}

function initialize() {
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(37, -10)
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var pointArray = new google.maps.MVCArray(tweets);
  heatmap = new google.maps.visualization.HeatmapLayer({
		data: pointArray,
		dissipating: true,
		radius: 10,
		enabled: true,  maxIntensity: 2

	});
  
heatmap.setMap(map);
//	showHeatMap();
	// setMarkers(map);

	// set heatmap gradient
	//heatmap.set('gradient', set_gradient);

}

//functions for heatmap
function showHeatMap() {
	// clear markers
	setMarkers(null);
	// show heatmap
	//heatmap.setMap(heatmap.getMap() ? null : map);
	heatmap.setMap(map);

}

// functions for markers
function setMarkers(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
  show_markers = true;
}

function clearMarkers() {
  setMarkers(null);
}

function showMarkers() {
	//clear heatmap
    heatmap.setMap(null);

	// show markers
  	setMarkers(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
showMarkers()
    </script>
  </head>
  <body>
  <div class ="navbar navbar-inverse navbar-static-top">
  	<div class ="container">
  	
  		<a href ="#" class ="navbar-brand">TweetMap</a>
  		
  		<button class ="navbar-toggle" data-toggle ="collapse" data-target =".navHeaderCollapse">
  			<span class ="icon-bar"></span>
  			<span class ="icon-bar"></span>
  			<span class ="icon-bar"></span>  			  			
  		</button>
  		
  		<div class ="collapse navbar-collapse navHeaderCollapse">
  			
  			<ul class ="nav navbar-nav navbar-right">
  				<li><a href ="#" onclick="showMarkers()">Marked Map</a></li>
  				<li><a href ="#" onclick="showHeatMap()">Color Gradient Map</a></li>
  				<!-- <li><a href ="#">Key Words/All</a></li> -->
  				<li class ="dropdown">
  					<a href ="#" class ="dropdown-toggle" data-toggle ="dropdown" id = "keyword">Key Word <b class ="caret"></b></a>
  					<ul class ="dropdown-menu">
  					    <li><a href = "/mapping/">-All- (no key word)</a></li>
  						<li><a href ="London">London</a></li>
  						<li><a href ="Paris">Paris</a></li>
  						<li><a href ="Rome">Rome</a></li>
  						<li><a href ="Sydney">Sydney</a></li>
  						<li><a href ="Seattle">Seattle</a></li>
  						<li><a href ="New York">New York</a></li>  	
  											  						  						  						  						
  						
  					</ul>
  				</li>
  				
  				<!-- <li><a href ="#">Timeline</a></li> -->
  				
  			</ul>
  		
  		</div>
  		
  </div>
  </div>
  <!-- script src = "http:ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script -->
 
 <!-- <div id="panel">
    <button onclick="showHeatMap()">Show Heatmap</button>
	<button onclick="showMarkers()">Show Markers</button>

</div>
-->  
    <div id="map-canvas"></div>
      </body>
</html>
